<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="IntervalInMinutes" value="30"/>
		<add key="UserName" value="RW"/>
		<add key="Password" value="encrypt:HasłoJestTajne"/>
		<add key="SenderName" value="Robert Wolniewicz"/>
		<add key="PhoneNumber" value="111222333"/>
	</appSettings>
</configuration>